#accordion .panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
}

#accordion .panel:last-child {
  border-bottom: none;
}

#accordion .panel + .panel {
  margin-top: 0;
}

#accordion .panel-heading {
  background-color: #009688 !important;
  border-radius: 0;
  border: none;
  padding: 0;
}

#accordion .panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-weight: 400;
}

#accordion > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

#accordion > .panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
}

#accordion > .panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

#accordion > .panel:first-child .panel-heading.active {
  border-radius: 4px 4px 0 0;
}

#accordion > .panel:last-child .panel-body.active {
  border-radius: 0 0 4px 4px;
}

#accordion > .panel:last-child .panel-heading.active {
  border-radius: 0;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#accordion > .panel:first-of-type {
    border-radius: 4px 4px 0 0;
}

#accordion .panel-heading+.panel-collapse>.panel-body {
    border:0;
}

/* e invece */
#accordion.scale .panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#accordion.scale .panel-heading.active a:before {
  content: ' ';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#accordion.scale .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#accordion.scale .panel-heading.active a:after {
  content: '\e909';
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}