/* Override .has-error */
.-fw-has-error .control-label {color: #f44336 !important;}
.form-group.-fw-has-error.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2)) !important;
    background-image: -webkit-linear-gradient(#f44336, #f44336), -webkit-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: -o-linear-gradient(#f44336, #f44336), -o-linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

/* New styles for alerts */
.-fw-alert {position:fixed; left: 50%; z-index:1100;}
@media(max-width:767px) {
    .-fw-alert {top:0; width:100%; margin-left:-50%;}
}
@media(min-width:768px) {
    .-fw-alert {width:400px; margin-left:-200px;}
}

/* New elastic pull-right */
.-fw-pull-right {float:right !important;}
@media (max-width: 767px) {
    .-fw-pull-right {
        float: left !important;
    }
}

/* New circular container */
.-fw-circle{
    background-color: #009688;
    color: rgba(255,255,255, 0.84);
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    width: 56px;
    -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    will-change: box-shadow, transform;
    vertical-align:middle;
    display:inline-block;
}
.-fw-circle * {
    position: absolute;
}

/* FakeButtons */
.-fw-btn-fake {cursor:default;}

/* Unselectable icons */
i.material-icons {user-select:none; cursor:default; vertical-align:middle;}
.input-group-addon i.material-icons, button i.material-icons {cursor:pointer;}

/* Fix panel-header links */
.panel-title a:hover {color:inherit;}

/* For fixed-to-top navbar */
body {padding-top: 80px;}

/* Navbar */
.navbar-brand img {height:100%;}
.navbar i.material-icons {font-size:20px !important;}
.dd-notifiche {width:300px;}
.dd-notifiche p {white-space:normal;}
.dd-notifiche > li button {
    font-size: 16px;
    padding: 3px 20px;
    font-weight: 400;
    color: #333333;
}
.dd-notifiche > li > div {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 767px){
    .navbar .navbar-nav .dropdown .dropdown-menu {
        border-radius: 0;
        margin: 0;
        background: #ffffff;
        color: #000000;
    }
}
.notifica {display:inline-block;}

/* GMaps */
#map, #advSearchMap {height: 400px; margin-bottom:15px; overflow:visible;}
#map > div {width: calc(100% - 30px) !important; margin-left: 15px;}
#advSearchMap * {overflow:visible;}
#pac-input {
    background-color: #fff;
    margin-top:10px;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

/* TokenCreator */
button > a {    
    position: absolute;
    right: 10px;
    cursor: pointer;
}
#listTypes a {cursor:pointer;}
#listTypes a:first-letter {text-transform: uppercase;}

/* AdvSearch init */
#advSearch, #advSearch #fgRadius, #advSearch #fgAdvSearchMap {display:none;}

/* Restaurant page */
.top-img {
    width:100%;
    height:320px;
    overflow:hidden;
}
.top-img img {width:100%;}
.immaginina {vertical-align: top;}
.immaginina > div {background-size: cover; background-repeat: no-repeat; background-position: center center; border-radius: 100%; box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); width:56px; height:56px;}

/* starsAndDollars */
.rating, .rating-money, .rating-reputazione {position:relative; cursor:default;}
.rating:before, .rating-money:before, .rating-reputazione:before {
    display:block;
    z-index:1;
    position:absolute;
    top:0;
    content: attr(data-content);
    overflow:hidden;
    pointer-events: none;
    color: #009688;
}
.panel-title .rating:before, .panel-title .rating-reputazione:before {
    color: gold;
}
.panel-title .rating, .panel-title .rating-reputazione {font-size:15px;}
/*.rating-money:before {
    color: green;
}*/
.rating:after, .rating-money:after, .rating-reputazione:after {
    display: block;
    direction: rtl;
    position: absolute;
    z-index: 2;
    top: 0;
    content: attr(data-content);
    overflow: hidden;
    pointer-events: none;
    color:#AAAAAA;
}
#newRateStars :not(.star-selected) {color:#AAAAAA;}
#newRateStars .star-selected {color:#009688;}

/* User page */
.user .panel-head .row-content {width:auto; position:absolute; top:0;}
.user .panel-head .row-picture > div:first-child, .user .modal-body .row-picture > div:first-child {background-size: cover; background-repeat: no-repeat; background-position: center center; border-radius: 100%; box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);}
.user .panel-head .row-picture i, .user .panel-head .row-picture > div:first-child, .user .modal-body .row-picture > div:first-child {top: 15px; position:relative; cursor:default; width:95px; height:95px; line-height:90px; font-size:50px;}
.user .modal-body .row-picture > div:first-child {top:0;}
.user .panel-head .row-picture {position:relative;}
.user .panel-head .row-picture-add {position:absolute; bottom:0; right:0;}
.user .panel-head .row-picture-add i {cursor:pointer; color:#009688; font-size:1.7em; width:initial; height:initial; background: none; line-height:initial;}
.user .panel-body .row-content {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
}

/* Thumbs */
.thumbs {user-select:none;}
.thumbs i {cursor:default;}
.thumbs .thumb-up-clickable, .thumbs .thumb-down-clickable {cursor:pointer;}
.thumbs .thumb-up-voted, .thumbs .thumb-up-clickable:hover, .thumbs .thumb-up-num {color:#2196F3 !important;}
.thumbs .thumb-down-voted, .thumbs .thumb-down-clickable:hover, .thumbs .thumb-down-num {color:#F44336 !important;}
.thumbs .thumb-up-num, .thumbs .thumb-down-num {font-weight:bold;}

/* Img gallery */
.gallery > div {margin-bottom:30px;}
.img-gallery {
    width: 100%;
    text-indent: -9999px;
    background-size: cover !important;
}
.report-img {text-align:right; color:red;}
div.row > div > div.row {
    margin-bottom: 15px;
}

/* Search page */
#searchSorting .panel-body {display:flex; justify-content: space-between;}
#searchSorting a {cursor:pointer; text-decoration:none;}
#searchSorting .active {font-weight:bold;}
.paginator {}
.paginator a {cursor: pointer; margin-right:20px;}
#autoCompleter .category {font-weight: bold; cursor:default; margin:6px 15px;}
.restaurant-list {display:block; margin-bottom:15px;}
.restaurant-list > div:first-of-type div, .restaurant-list > div:first-of-type i {border-top-left-radius: 4px; border-top-right-radius:4px; width:100%; height:270px;}
.restaurant-list > div:first-of-type i {background: rgba(0,0,0,0.25); width:100%; font-size:70px; text-align:center; line-height:400%;}
.restaurant-list > div:first-of-type div {background-size:cover;}
.restaurant-list > div {padding-right: 15px; padding-left:15px;}
.restaurant-list .panel {border-bottom-left-radius:4px;}
.restaurant-list .panel, .restaurant-list .panel-heading {border-top-right-radius: 0; border-top-left-radius: 0;}
@media (min-width: 767px) {
    .restaurant-list {display:flex;}
    .restaurant-list > div:first-of-type {padding-right:0;}
    .restaurant-list > div:first-of-type div, .restaurant-list > div:first-of-type i {border-top-left-radius:4px; border-bottom-left-radius:4px; border-top-right-radius: 0;}
    .restaurant-list > div:last-of-type {padding-left:0; max-height: 270px;}
    .restaurant-list .panel, .restaurant-list .panel-heading {border-top-left-radius:0; border-bottom-left-radius:0; border-top-right-radius: 4px;}
    .restaurant-list .panel {height:100%;}
    .restaurant-list .panel .panel-body {height: 84%; overflow: auto;}
}
.gMapsLink {margin-right:0; margin-left:0;}


/* ReportedPicture */
#reported-image {
    max-height: 80vh;
    max-width: 100%;
    width: auto;
    height: auto;
}